
.navbar {
    padding: 0 0 1.5rem;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgb(0, 0, 0);
}

.paw {
    background-color: grey;
}

body {
    background-color: rgb(255, 255, 255);
}

.paw-img {
    width: 70px;
    padding: 0 5px;
}

.mbar {
    padding: 0 10px;
    font-family: 'Montserrat';
    font-size: 20px;
    counter-reset: #000;
}

#chirp-meow {
    width: 99%;
}

h3 {
    font-family: 'Sacramento';
    font-weight: bold;
    font-size: 2rem;
}

p{
    color: #8f8f8f;
}

#features {
    padding: 7% 15%;
    text-align: center;
}

.feature-box {
   padding: 20px 90px ;
}

.feature-box-m {
    padding: 20px 41px ;
}

.icon {
    color: #ef8172;
    padding-bottom: 1rem;
}

.icon:hover {
    color: #ff4c68;
}