/* Navbar-Section */

.navbar {
    padding: 0 0 1.5rem;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgb(0, 0, 0);
}

.paw {
    background-color: grey;
}

body {
    background-color: rgb(255, 255, 255);
}

.paw-img {
    width: 70px;
    padding: 0 5px;
}

.mbar {
    padding: 0 10px;
    font-family: 'Montserrat';
    font-size: 20px;
    counter-reset: #000;
}

#chirp-meow {
    width: 99%;
}

h2 {
    font-family: 'Mochiy Pop One';
    font-size: 2rem;
}

h3 {
    font-family: 'Sacramento';
    font-weight: bold;
    font-size: 2rem;
}

@media (max-width:900px) {
    h3 {
        font-family: 'Sacramento';
        font-weight: bold;
        font-size: 2rem;
        color: rgb(255, 1, 1);
    }
}

p {
    color: #8f8f8f;
}

/* Features-Section */

#features {
    padding: 7% 15%;
    text-align: center;
}

.feature-box {
    padding: 20px 90px;
}

.feature-box-m {
    padding: 20px 41px;
}

.icon {
    color: #ef8172;
    padding-bottom: 1rem;
}

.icon:hover {
    color: #ff4c68;
}

/* Testomonial-Section */

#testimonials {
    background-color: #ff4c68;
    color: #fff;
    text-align: center;
}

.a {
    width: 15%;
    border-radius: 50%;
    margin: 20px;
}

.b {
    width: 20%;
    border-radius: 50%;
    margin: 20px;
}

.c {
    width: 17%;
    border-radius: 50%;
    margin: 20px;
}

.d {
    width: 20%;
    border-radius: 50%;
    margin: 20px;
}

.e {
    width: 15%;
    border-radius: 50%;
    margin: 20px;
}

/* carousels */

.carousel-item {
    padding: 7% 15%;
}

.c-strays {
    color: #fff;
    font-family: 'Sacramento';
    font-size: 4.1rem;
}

/* account */

#p {
    font-family: 'Mochiy Pop One';
    font-size: 2rem;
    color: #fff;
}

#account {
    background-image: url('https://c4.wallpaperflare.com/wallpaper/353/676/856/movie-bolt-bolt-character-wallpaper-preview.jpg');
    padding: 20px;
}

/* footer  */

#footer {
    text-align: center;
}

#git {
    margin: 20px 0px 50px 0px;
}
.btn {
    border-style: solid;
    border-color: #000;
}

.contact-btn {
    margin: 50px 0px ;
}

.btn:hover {
    background: #cb38f0;
    background-image: -webkit-linear-gradient(top, #cb38f0, #f2f2f2);
    background-image: -moz-linear-gradient(top, #cb38f0, #f2f2f2);
    background-image: -ms-linear-gradient(top, #cb38f0, #f2f2f2);
    background-image: -o-linear-gradient(top, #cb38f0, #f2f2f2);
    background-image: linear-gradient(to bottom, #cb38f0, #f2f2f2);
    text-decoration: none;
}

.bottom-container {
    background-color: #55bdbd;
    padding: 7% 15%;
}

.footer-link  {
    color: #0c8b90;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
    font-size: 1rem;
}

.copyright {
    margin-top: 20px;
    color: #ffffff;
    font-size: .75rem;
}